src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd"
>
	<http:listener-config doc:name="HTTP Listener Configuration" 
		name="HTTP_Listener_Configuration"
		host="0.0.0.0"
		port="9081" />
	<spring:beans>
		<spring:bean id="Bean"
			name="Bean"
			class="com.mulesoft.training.Database" />
	</spring:beans>
	<db:derby-config doc:name="Derby Configuration" 
		name="Derby_Configuration"
		url="jdbc:derby:memory:muleEmbeddedDB;create=true" />
	<jms:activemq-connector doc:name="Active MQ"
		name="Active_MQ"
		brokerURL="vm://localhost"
		validateConnections="true" />

	<flow name="mavenFlow">
		<http:listener doc:name=":9081/"
			config-ref="HTTP_Listener_Configuration"
			path="/" />
		<set-payload doc:name="Hardcode Hello Maven" 
			value="#['Hello Maven']" />
	</flow>

	<flow name="retrieveFlights">
		<http:listener doc:name=":9081/flights" 
			config-ref="HTTP_Listener_Configuration"
			path="/flights"
			allowedMethods="GET" />
		<db:select
			config-ref="Derby_Configuration"
			doc:name="SELECT Flights">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON" />
		<jms:outbound-endpoint doc:name="queue: flights"
			queue="flights"
			connector-ref="Active_MQ" />
	</flow>

	<flow name="logFlights">
		<jms:inbound-endpoint doc:name="queue: flights" 
			queue="flights"
			connector-ref="Active_MQ" />
		<logger doc:name="INFO"
			message="#[payload]"
			level="INFO"
			category="com.pomeroy.mule.training.maven-project.logFlights" />
	</flow>
</mule>
